
p {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 17px;
    color:rgb(26, 58, 105);;
    font-family: Arial;
    margin-bottom: 0;
    
  }
  
  p a {
    color: rgb(26, 58, 105);
    opacity: 0.9;
  }

  p a:hover {
      color: rgb(26, 58, 105);
      opacity: 1;
  }

div {
    background-color: rgb(26, 58, 105);
    height: 1000px;
    
    

}

header h1 {
    color: rgb(234, 233, 229);
    font-size: 90px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}

.league {
    margin-left: 15px;
    background-color: rgb(26, 58, 105);
}

.of {
    margin-left: 85px;
}

.legends {
    margin-left: 155px;
}

footer {
    height: 150px;
    background-color: whitesmoke;
  }
  
  footer nav {
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    font-weight: bold;
    padding-top: 10px;
  }
  
  footer a {
    color: rgb(26, 58, 105);
    text-decoration: none;
    opacity: 0.9;
  }
  
  footer ul li {
    padding-top: 20px;
    
  }

  footer a:hover {
    color: rgb(26, 58, 105);
    opacity: 1;
  }

  p.description {
    position: relative;
    top: 10px;
    left: 600px;
    background-color: rgb(26, 58, 105);
    text-align: left;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 17px;
    color: whitesmoke;
    font-family: Arial;
    width: 600px;
  }

  p a.na-link {
      color: whitesmoke;
      
  }

 #img {
      height: 400px;
      width: 700px;
      margin-bottom: 0;
     
      
  }